<div class="col-xs-8 col-xs-offset-2">
	<div class="page-header">
		<h1>{{title}}</h1>
		<a href={{link}}> <h4>{{link}}</h4> </a>
	</div>
	<div>
		<h3>Comments for this article</h3>
		<ul class="list-group" id="{{_id}}">
			{{#each note}}
				<li class="list-group-item commentBox">
					<h4>{{this.title}} <span class="small"> by {{this.username}}</span></h4>
					<p>{{this.body}}</p>
					<a href="/articles/{{../_id}}" role="button" class="delete" id="{{this._id}}">Remove</a>
				</li>
		  	{{/each}}
		</ul>
		<p class="text-center"> <a href="/">Back to Articles</a> </p>
	</div>
</div>

<script src="../assets/js/article.js"></script>
